.footer Link{
    display: flex;
    flex-direction:row;
    background-color: #1d1d1d;
    
   
  }
  .ftabs {
    background-color:black;
    color:azure;
    height:100%;
    width: 10%;
    font-size: 15px;
  
  
  }
  
 