* {
    box-sizing: border-box;
  }
  
  body {
    
    color: #383f4d;
    line-height: 1.5;
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue",
      sans-serif;
    
  }
  
  /* 
  =================
  Table
  =====================
  */
  
  .table_container {
      margin:auto;
      width: 100%;
      top:5vh;
      height:88vh;
      position:fixed;    
      overflow-x:auto; /* <!-- this is for horizontal scroll--> */  
  }
  tbody {
   
  }
  table {
   
    border-spacing: 0;
    display: block;
   
  }
  
  caption {
    font-style: italic;
    font-size: 90%;
    margin-bottom: 10px;
  }
  
  table th {
    background: rgb(24, 22, 22);
    padding: 8px 10px;
    border-bottom: 1px solid #1a1a1a;
    font-weight: bold;
    text-align: left;
  }
  
  .table th.up {
    
  }
  .table th.down {
    
  }
  .table th.default {
   
  }
  th.up,
  th.default,
  th.down {
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center right;
  }
  
  table td {
    border-top: 1px solid #ddd;
    padding: 8px 20px;
  }
  
  table tbody tr:first-child td {
    border-top: none;
  }
  
  table tbody tr:nth-child(n) td {
    background: #ffffff;
  }
  
  table tbody tr:nth-child(2n) td {
    background: rgb(233, 232, 232);
  }

  /*modal-------------------------------------------------------*/

  .backshadow{
    width:100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.backshadow .custom-modal{
    width: 500px;
    height: 500px;
    background-color: #fff;
    position: relative;
}

.delete-icon{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: red;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
    position: absolute;
    top: -15px;
    right: -15px;
}