* {
    box-sizing: border-box;
  }
  
  body {
    color: #383f4d;
    line-height: 1.5;
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue",
      sans-serif;
  }

  .title{
    color:white;
    text-align: center;
    font-size: 40px;
  }

  .empty {
    color:white;
    text-align: center;
    font-size: 40px;
  }
  /* 
  =================
  Table
  =====================
  */
  .deflist {
    background: rgb(25, 23, 100);
  }
  .daylist{
    background:rgb(177, 154, 22)
  }
  .hotlist{
    background:rgb(126, 24, 6);
    }

  .complist{
    background:rgb(24, 114, 28);
  }
  

  .tdlength{
  display: inline-block;
   height:45px;
  color:white;
  
  }
  .tdfilter{
   display:flex;
   flex-direction: column;
   align-items: center;
   font-weight: 700;
  }
  .tdbtn{
  
   }
  
  .table_container {
    background-color: #343536;
      margin:auto;
      width: 100%;
      top:5vh;
      height:85vh;
      position:fixed;   
      overflow-y: auto; /* <!-- this is for horizontal scroll--> */ 
 
   }
   @media screen and (max-width: 1000px) {
   .datacontainer{
    display:flex;
    flex-direction: column;
   }
   }
  tbody {
  }
 td{
 }
  table {

    border-spacing: 0;
    display: block;
   
  }
  th{
  }
  
  caption {
    font-style: italic;
    font-size: 90%;
    margin-bottom: 10px;
  }
  
  table th {
    background: rgb(7, 7, 7);
    padding: 3px 4px;
    border-bottom: 2px solid #1a1a1a;
    font-weight: bold;
    text-align: center;    
  }
    thead{
    color:white;

   
  }
  .theadrow{
   
  }
  .up {
  background-color: #15a815;
    
  }
  .down {
    background-color: #d1930c;

  }
  .default {
    background-color: #000000;
    align-items: center;

  }
  th.up,
  th.default,
  th.down {
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center right;
  }
  
  table td {
    
    border-top: 1px solid rgb(0, 0, 0);
    padding: 4px 4px;
    color:rgb(255, 255, 255);
    font-size: small;
    
  }
  td{
    background:#1a1a1a;
 }
  .tablenav{
    display: flex;
    height: 50px;
  }
  table tbody tr:first-child td {
    border-top: none;
  }
  @media screen and (max-width: 1000px) {
  .bodytr{
    display: flex;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1000px) {
  .bodytr{
    
  }
}
@media screen and (max-width: 1000px) {
  .searchtr{
    display: flex;
    justify-content: flex-end;
  }
}
  .listmobile{
    color: #ffffff;
    font-size: small;
    font-weight: 500 ;
    padding: 1px 1px;
    flex-grow: 1;
    border: 1px solid black;
 }
 .listmobile2{
  background-color: rgba(255, 255, 255, 0);
  display: flex;
  border-top: 0px solid rgb(0, 0, 0);
}

  /*modal-------------------------------------------------------*/

  .backshadow{
    width:100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.7);
    display: flex;
    justify-content: center;
    align-items: center;

}

.backshadow .custom-modal{
  border-radius: 10px;
  padding: 20px;
    height: auto;
    right: 40vh;
    bottom:10vh;
    background-color: rgb(0, 0, 0);
    position: relative;
    color: #fff;

}
.tickinfomain{
  display: flex;
  margin-right: 4px;
  
}
.tickinfo{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap; 
  
}
p{
  height:10px;
}


.delete-icon{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: red;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
    position: absolute;
    top: -15px;
    right: -15px;
}
button {
  color:rgb(0, 0, 0);
  background-color: #38a31e;
  font-weight:700;

}
.idbtn{
  width: 60%;
}
.buthead{
  border-radius: 5px;
  color:rgb(0, 0, 0);
  background-color: #cecece;
  font-weight:700;
  font-size: small;
}
.butscanadd{
  border-radius: 5px;
  color:rgb(0, 0, 0);
  background-color: #27c718;
  font-weight:700;
  margin: 3px;
}
.but {
  border-radius: 5px;
  color:rgb(0, 0, 0);
  background-color: #27c718;
  font-weight:700;
  margin: 3px;
  height: 32px;
}
.searchbtn{
  background-color: #e73f29;
}
.editbtn{
  border:2px solid rgb(189, 172, 20);
  background-color: #1a1a1a;
  color:darkgoldenrod;
}
.procbtn{
  border:2px solid rgb(54, 189, 20);
  background-color: #1a1a1a;
  color:rgb(20, 179, 20);
}
.parkbtn{
  border:2px solid rgb(189, 45, 20);
  background-color: #1a1a1a;
  color:rgb(189, 45, 20);
}
.roombtn{
  border:2px solid rgb(189, 45, 20);
  background-color: #d84c1400;
  color:rgb(189, 45, 20);
}

.pay{
  display: flex;
  flex-direction: column;
  align-items: center;


  
}
.bdiv{
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;

}
.mbtn{
  height:3.5vh;
  width:30vh;
  border-radius: 5px;

}
.room{
  width: 20vh;
}
.rinput{
  height: 40px;
}
.listbtn{
 width: 95px;
}