* {
    box-sizing: border-box;
  }
  
  body {
    
    color: #383f4d;
    line-height: 1.5;
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue",
      sans-serif;
    
  }
  .title{
    color:white;
    text-align: center;
    font-size: 40px;
  }
  .empty {
    color:white;
    text-align: center;
    font-size: 40px;
  }
  /* 
  =================
  Table
  =====================
  */
  .deflist {
    background: rgb(17, 15, 163);
  }
  .daylist{
    background:rgb(201, 160, 25)
  }
  .hotlist{
    background:rgb(168, 32, 32);
  }
  .complist{
    background:rgb(12, 102, 17);
  }
  .tdlength{
  display: inline-block;
   height:45px;
  color:white;
  
  }
  .tdfilter{
   display:flex;
   flex-direction: column;
  }
  .tdbtn{
  
   }
  
  .table_container {
    background-color: #343536;
      margin:auto;
      width: 100%;
      top:4vh;
      height:89vh;
      position:fixed;    
      overflow-x:auto; /* <!-- this is for horizontal scroll--> */  
  }
  tbody {
 
  }
 
  table {
   
    border-spacing: 0;
    display: block;
   
  }
  
  caption {
    font-style: italic;
    font-size: 90%;
    margin-bottom: 10px;
  }
  
  table th {
    background: rgb(7, 7, 7);
    padding: 8px 10px;
    border-bottom: 1px solid #1a1a1a;
    font-weight: bold;
    text-align: left;
    
  }
  thead{
    color:white;
   
  }
  
  .table th.up {
    
  }
  .table th.down {
    
  }
  .table th.default {
   
  }
  th.up,
  th.default,
  th.down {
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center right;
  }
  
  table td {
    
    border-top: 1px solid rgb(8, 8, 8);
    padding: 4px 4px;
    color:rgb(255, 255, 255);
    
  }
  td{
    background:#1a1a1a;
    
  }
  
  table tbody tr:first-child td {
    border-top: none;
  }
  

  /*modal-------------------------------------------------------*/

  .backshadow{
    width:100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.7);
    display: flex;
    justify-content: center;
    align-items: center;

}

.backshadow .custom-modal{
  border-radius: 10px;
  padding: 20px;
    height: auto;
    right: 40vh;
    bottom:10vh;
    background-color: rgb(0, 0, 0);
    position: relative;

}


.delete-icon{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: red;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
    position: absolute;
    top: -15px;
    right: -15px;
}
button {
  border:2px solid rgb(43, 173, 26);
  border-radius: 5px;
  color:rgb(0, 0, 0);
  background-color: #38a31e;
  font-weight:700;

}
.but {
  border:3px solid rgb(20, 189, 48);
  border-radius: 5px;
  color:rgb(0, 0, 0);
  background-color: #27c718;
  font-weight:700;
  margin: 3px;
}
.pay{
  display: flex;
  flex-direction: column;
  align-items: center;


  
}
.bdiv{
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;

}
.mbtn{
  height:3.5vh;
  width:30vh;
  border-radius: 5px;

}
.room{
  width: 20vh;
}
.rinput{
  height: 40px;
}
.listbtn{
  max-width: 40vh;
}