body {
    height: 85%;  
    text-align: center;
    margin: auto;
}

.main {
   
    margin:auto;
    width: 100%;
    top:4vh;
    height:89vh;
    position:fixed;    
    overflow-x:auto; /* <!-- this is for horizontal scroll--> */  
    text-align: center;
    background-color: #292929;
    color:#0ef306;
     
}
.inprow {
   display: flex;
   justify-content: space-evenly;
}
form {
    display:flex;
    justify-content: center;
}

 fieldset {
    
     background-color: black;
    width: 25%;
    height: 45vh;
    
    margin:0 auto;
  
 }   
 label {
     color:azure
     
 }

input, select {
    width: 100px;
 
}
.clearbtn  {
   
    height: 25px;
    width: 100px;
    background-color:#3cff01;
    text-align: center;
    font-size: 12px;
    color: black;
}

.btndiv {
    display:inline-flex;
    width: 100%;
    justify-content:space-evenly;
}
@keyframes glowing {
    0% {
      background-color: #f45f5d;
      box-shadow: 0 0 5px #f45f5d;
    }
    50% {
      background-color: #d40404;
      box-shadow: 0 0 20px #d40404;
    }
    100% {
      background-color: #f45f5d ;
      box-shadow: 0 0 5px #f45f5d;
    }
  }