.backshadow3{
    width:100%;
    height: 85vh;
    position: fixed;
    background-color: rgba(0,0,0,0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color:white;
  
  }
  .backshadow3 .custom-modal3{
      border-radius: 10px;
      position: relative;
      top:-10vh;
      padding: 20px;
      width: 50vh;
      height: 400px;
      background-color: rgb(0, 0, 0);
      border:2px solid rgb(43, 173, 26)
   
     
  
  }
  .scanbtn  {
    border-radius: 5px;
     height: 30px;
     width: 10vh;
     background-color:#3cff01;
     text-align: center;
     font-weight: 700;
     color: black;
     margin: -.4vh;
 }
.scanbdiv{
    display: flex;
    justify-content: space-between;
}