.backshadow3{
    width:100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color:white;

  
  }
  .backshadow3 .custom-modal3{
    border-radius: 10px;
    padding: 20px;
      height: auto;
      right: 40vh;
      bottom:10vh;
      background-color: rgb(0, 0, 0);
      position: relative;
  
  }